<?xml version="1.0" encoding="UTF-8"?>
<package xmlns="http://pear.php.net/dtd/package-2.0" xmlns:tasks="http://pear.php.net/dtd/tasks-1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" packagerversion="1.4.1" version="2.0" xsi:schemaLocation="http://pear.php.net/dtd/tasks-1.0 http://pear.php.net/dtd/tasks-1.0.xsd http://pear.php.net/dtd/package-2.0 http://pear.php.net/dtd/package-2.0.xsd">
  <name>sfDocTestPlugin</name>
  <channel>pear.symfony-project.com</channel>
  <summary>This plugin enable DocTest with symfony</summary>
  <description>This plugin enable DocTest with symfony</description>
  <lead>
    <name>Yoshihiro TAKAHARA</name>
    <user>tumf</user>
    <email>y.takahara@gmail.com</email>
    <active>yes</active>
  </lead>
  <date>##CURRENT_DATE##</date>
  <version>
    <release>##PLUGIN_VERSION##</release>
    <api>##API_VERSION##</api>
  </version>
  <stability>
    <release>##STABILITY##</release>
    <api>##STABILITY##</api>
  </stability>
  <license uri="http://www.symfony-project.org/license">MIT license</license>
  <notes>-</notes>
  <contents>
    ##CONTENTS##
  </contents>
  <dependencies>
    <required>
      <php>
        <min>5.2.4</min>
      </php>
      <pearinstaller>
        <min>1.4.1</min>
      </pearinstaller>
      <package>
        <name>symfony</name>
        <channel>pear.symfony-project.com</channel>
        <min>1.0.18</min>
        <max>1.3.0</max>
        <exclude>1.3.0</exclude>
      </package>
    </required>
  </dependencies>
  <phprelease></phprelease>
  <changelog>
    <release>
      <version>
        <release>0.2.8</release>
        <api>1.2.0</api>
      </version>
      <stability>
        <release>stable</release>
        <api>stable</api>
      </stability>
      <license uri="http://www.symfony-project.org/license">MIT license</license>
      <date>2009-12-2</date>
      <license>MIT</license>
      <notes>
        * tumf: fix: documents
      </notes>
    </release>
    <release>
      <version>
        <release>0.2.7</release>
        <api>1.2.0</api>
      </version>
      <stability>
        <release>stable</release>
        <api>stable</api>
      </stability>
      <license uri="http://www.symfony-project.org/license">MIT license</license>
      <date>2009-12-2</date>
      <license>MIT</license>
      <notes>
        * tumf: #96 add set_up/tear_down and functionalize options.
      </notes>
    </release>
    <release>
      <version>
        <release>0.2.6</release>
        <api>1.2.0</api>
      </version>
      <stability>
        <release>stable</release>
        <api>stable</api>
      </stability>
      <license uri="http://www.symfony-project.org/license">MIT license</license>
      <date>2009-05-25</date>
      <license>MIT</license>
      <notes>
        * tumf: [548] fixed bug if specified argument files of doctest-coverage .
      </notes>
    </release>
    <release>
      <version>
        <release>0.2.5</release>
        <api>1.2.0</api>
      </version>
      <stability>
        <release>stable</release>
        <api>stable</api>
      </stability>
      <license uri="http://www.symfony-project.org/license">MIT license</license>
      <date>2009-05-18</date>
      <license>MIT</license>
      <notes>
        * tumf: #86 remove doctest-all (for symfony 1.0)
        * tumf: #87 select test browser class (except for sfTestBrowser) in config/doctest.yml
        * tumf: #87 to find coverage files in config/doctest.yml
      </notes>
    </release>
    <release>
      <version>
        <release>0.2.4</release>
        <api>1.2.0</api>
      </version>
      <stability>
        <release>stable</release>
        <api>stable</api>
      </stability>
      <license uri="http://www.symfony-project.org/license">MIT license</license>
      <date>2009-05-12</date>
      <license>MIT</license>
      <notes>
        * tumf: fix broken doctest-coverage task (#82)
      </notes>
    </release>
    <release>
      <version>
        <release>0.2.3</release>
        <api>1.2.0</api>
      </version>
      <stability>
        <release>stable</release>
        <api>stable</api>
      </stability>
      <license uri="http://www.symfony-project.org/license">MIT license</license>
      <date>2009-05-12</date>
      <license>MIT</license>
      <notes>
        * someone: fix that (#1234)
      </notes>
    </release>
  </changelog>
</package>
